
html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Poppins-Bold';   /*字体名称*/
    src: url('../font/Poppins/Poppins-Bold.ttf');       /*字体源文件*/
}

@font-face {
    font-family: 'Poppins-Medium';   /*字体名称*/
    src: url('../font/Poppins/Poppins-Medium.ttf');       /*字体源文件*/
}

@font-face {
    font-family: 'DroidSerif-Italic';   /*字体名称*/
    src: url('../font/Droid_Serif/DroidSerif-Italic.ttf');       /*字体源文件*/
}

@font-face {
    font-family: 'DroidSerif-Regular';   /*字体名称*/
    src: url('../font/Droid_Serif/DroidSerif-Regular.ttf');       /*字体源文件*/
}

@font-face {
    font-family: 'Poppins-SemiBold';   /*字体名称*/
    src: url('../font/Poppins/Poppins-SemiBold.ttf');       /*字体源文件*/
}

@font-face {
    font-family: 'PingFangSC-Semibold';   /*字体名称*/
    src: url('../font/Poppins/Poppins-SemiBoldItalic.ttf');       /*字体源文件*/
}

#main {
    position: relative;
}

#head {
    padding: 10px 15px;
    position: relative;
    z-index: 999;
}

#head .b-logo {
    width: 122px;
    height: 57px;
    position: absolute;
    left: 50px;
}

#head .nav .nav-item .nav-link {
    font-family: Poppins-Medium;
    border: solid 2px transparent;
    color: #ffffff;
}

#head .nav .nav-item .nav-link:hover {
    border: solid 2px #ffffff;
}

#head .nav .nav-item .nav-link:active {
    border: solid 2px #ffffff;
}

#head .b-logo #logo {
    width: 100%;
    height: 100%;
}

#banner {
    position: relative;
    height: 768px;
}

#banner .banner-title {
    font-family: Poppins-Bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#banner .banner-title h1 {
    color: #ffffff;
    font-size: 70px;
    user-select: none;
}

#banner .banner-title h2 {
    font-family: Poppins-Bold;
    color: #ffffff;
    font-size: 60px;
    text-align: left;
    user-select: none;
}

#banner .banner-title .title {
    margin-bottom: 40px;
}

#banner .banner-title .line {
    background: #EE4035;
    height: 6px;
    width: 50%;
    margin: 0 auto;
}

#banner .banner-title h4 {
    margin-top: 40px;
    font-family: Poppins-Medium;
    font-size: 21px;
    color: #FFFFFF;
    user-select: none;
}

#banner .banner-title a {
    margin-top: 25px;
    border: 1px solid #FFFFFF;
    display: inline-block;
    text-decoration: none;
    font-family: Poppins-Bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 6px 21px;
    background-color: transparent;
}

#main #introduce {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px 0 70px;
}

#introduce .center-t {
    width: 750px;
}

#introduce .font-Poppins-Bold h1 {
    color: #D89040;
    font-size: 60px;
}

.font-Poppins-Bold {
    font-family: Poppins-Bold;
}

.font-DroidSerif-Italic {
    font-family: DroidSerif-Italic;
    font-size: 20px;
}

#introduce #introduceText {
    color: #7B7B7B;
    display: inline-block;
    padding: 5px 0;
}

#introduce .center-t .line, .cu-title .line, #main .about-i-center .introduce-left .line {
    background-color: #EE4035;
    width: 50%;
    height: 6px;
    margin: 20px 0;
}

#main .about-i-center .introduce-left .line {
    width: 90%;
}

.cu-title .line {
    width: 80%;
}

#main #publicity {
    padding: 60px 0 30px;
}

#main #publicity .info-center {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#main #publicity .info-center .info-item {
    width: 280px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main #publicity .info-center .info-item .font-info {
    font-size: 30px;
    color: #EFEFEF;
    text-align: center;
    padding: 10px 0;
}

.font-DroidSerif-Regular {
    font-family: DroidSerif-Regular;
}

#main #publicity .info-center .info-item .font-content {
    font-size: 15px;
    color: #EFEFEF;
    text-align: center;
    line-height: 35px;
    text-overflow: ellipsis;
}

#details .d-title {
    padding: 40px 0 15px;
    font-size: 30px;
    color: #303030;
    text-align: center;
}

#details .line {
    background: #EE4035;
    height: 6px;
    width: 25%;
    margin: 0 auto;
}

#details .d-content {
    width: 40%;
    margin: 0 auto 100px;
    font-size: 15px;
    color: #7B7B7B;
    letter-spacing: 0.61px;
    text-align: center;
    line-height: 50px;
    padding: 30px 55px;
}

.slick img {
    width: 500px;
    height: 600px;
}

#picture {
    position: relative;
    padding: 20px 0;
}

#picture .p-bg {
    width: 50%;
    height: 600px;
    margin-bottom: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFA53A;
}

#foot {
    background: #303030;
    width: 100%;
    height: 155px;
    margin-top: 100px;
}

#foot .f-center {
    width: 70%;
    margin: 0 auto;
    line-height: 100px;
    height: 100%;
}

#foot .f-center .f-logo {
    width: 85px;
    height: 40px;
}

#foot .f-center .f-content {
    font-family: 'Poppins-SemiBold';
    font-size: 14px;
    color: #ffffff;
}

#main .page4 {
    display: flex;
    justify-content: center;
    align-content: center;
}

#main .page4-center {
    width: 50%;
    padding: 40px 0;
}

.page4-center h2 {
    font-size: 60px;
    color: #303030;
    letter-spacing: 4.22px;
    text-align: center;
    line-height: 100px;
}

.page4-center h4 {
    font-size: 20px;
    color: #303030;
    text-align: center;
}

.page4-center div {
    text-align: center;
}

#main #ce-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#main #ce-body .ce-center {
    width: 50%;
}

.ce-center {
    padding: 50px 0;
}

.ce-center .img-item {
    top: 0;
}

.ce-center .img-item:nth-child(1) {
    left: 0;
    float: left;
    width: 45%;
}

.ce-center .img-item:nth-child(2) {
    right: 0;
    float: right;
    width: 45%;
}

.ce-center .ce-content .line, #main .about-info .about-center .line {
    width: 50%;
    height: 6px;
    background: #FFA53A;
    margin: 10px 0;
}

#main .about-info .about-center .line {
    margin: 20px 0;
    height: 3px;
}

.ce-center .ce-content .title {
    font-size: 30px;
    color: #303030;
}

.ce-center .ce-content .content {
    font-size: 22px;
    color: #7B7B7B;
    letter-spacing: 0.61px;
    line-height: 36px;
}

#main .page-s {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.page-s .s-center {
    background: url("/image/0002.png");
    width: 65%;
    height: 250px;
    line-height: 250px;
    text-align: center;
}

.page-s .s-center img {
    width: 50%;
    height: 50%;
}

.cu-content {
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
}

.cu-content .cu-title {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

.cu-content .cu-title .title {
    font-size: 60px;
    color: #303030;
    letter-spacing: 4.22px;
    line-height: 100px;
}

.cu-center .cu-img {
    width: 55%;
    margin: 40px auto 20px;
}

.cu-content .cu-info .cu-item {
    margin: 30px 0;
}

.cu-content .cu-info .cu-item .cu-rows {
    font-size: 24px;
    padding: 5px 0;
    color: #7B7B7B;
    letter-spacing: 0.5px;
    text-align: left;
    line-height: 36px;
}

#main .success {
    height: 450px;
    background-size: auto 450px;
    background: url("/image/banner33354.png") no-repeat center center;
}

#main .contact {
    height: 550px;
    background-size: auto 550px;
    background: url("/image/banner323.png") no-repeat center center;
}

#main .about-info {
    display: flex;
    justify-content: center;
    align-content: center;
}

#main .about-info .about-center {
    width: 40%;
    margin: 50px 0;
}

#main .about-info .about-center .title {
    font-size: 20px;
    color: #303030;
}

#main .about-info .about-center .content {
    font-size: 20px;
    color: #B0B0B0;
    letter-spacing: 0.62px;
    text-align: left;
    line-height: 48px;
}

#main .about-person {
    background: url("/image/banner33.png") no-repeat center center;
    background-size: 100%;
}

#main .about-introduce {
    display: flex;
    justify-content: center;
    align-content: center;

}

#main .about-i-center {
    width: 70%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 40px 0;
}

#main .about-i-center .introduce-left {
    width: 45%;
}

#main .about-i-center .introduce-reight {
    width: 45%;
}

#main .about-i-center .introduce-left .title {
    font-size: 64px;
    color: #303030;
    letter-spacing: 3px;
    line-height: 100px;
}

#main .about-i-center .introduce-left .content {
    font-size: 18px;
    color: #7B7B7B;
    letter-spacing: 0.5px;
    text-align: left;
    line-height: 36px;
}

#main .about-i-center .introduce-reight {
    font-size: 18px;
    color: #303030;
    letter-spacing: 0;
    text-align: left;
    line-height: 36px;
}

.boss_name {
    font-family: PingFangSC-Semibold;
    font-size: 42px;
    color: #FFFFFF;
    text-align: center;
}

#main .fourPage {
    background: url("/image/banner33354.png") no-repeat center center;
    background-size: 100%;
}

.list-content {
    font-family: DroidSerif-Regular;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
}

#main .itinerary-body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.itinerary-body .itinerary-center {
    width: 50%;
}

.grid .i-rows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 5px 0;
    background: #fafafa;
}

#main .grid{

}

.grid .i-rows .i-cols{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid .i-rows .i-cols .content{
    width: 60%;
    letter-spacing: 0.6px;
}