
html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Poppins-Bold';   /*字体名称*/
    src: url('../font/Poppins/Poppins-Bold.ttf');       /*字体源文件*/
}

@font-face {
    font-family: 'Poppins-Medium';   /*字体名称*/
    src: url('../font/Poppins/Poppins-Medium.ttf');       /*字体源文件*/
}

@font-face {
    font-family: 'DroidSerif-Italic';   /*字体名称*/
    src: url('../font/Droid_Serif/DroidSerif-Italic.ttf');       /*字体源文件*/
}

@font-face {
    font-family: 'DroidSerif-Regular';   /*字体名称*/
    src: url('../font/Droid_Serif/DroidSerif-Regular.ttf');       /*字体源文件*/
}

@font-face {
    font-family: 'Poppins-SemiBold';   /*字体名称*/
    src: url('../font/Poppins/Poppins-SemiBold.ttf');       /*字体源文件*/
}

@font-face {
    font-family: 'PingFangSC-Semibold';   /*字体名称*/
    src: url('../font/Poppins/Poppins-SemiBoldItalic.ttf');       /*字体源文件*/
}

#main {
    position: relative;
}

#head {
    position: relative;
    z-index: 999;
}

#head .b-logo {
    width: 4.5rem;
    height: 2rem;
    position: absolute;
    left: 2.5rem;
    top: 20px;
}


#head .b-logo #logo {
    width: 100%;
    height: 100%;
}

#banner {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 17% 0;
}

#banner .banner-title {
    text-align: center;
    font-family: Poppins-Bold;
}

#banner .banner-title h1 {
    color: #ffffff;
    font-size: 3rem;
    user-select: none;
}

#banner .banner-title h2 {
    font-family: Poppins-Bold;
    color: #ffffff;
    font-size: 2.5rem;
    text-align: left;
    user-select: none;
}

#banner .banner-title .title {
    margin-bottom: 2.2rem;
}

#banner .banner-title .line {
    background: #EE4035;
    height: 6px;
    width: 50%;
    margin: 0 auto;
}

#banner .banner-title h4 {
    margin: 1rem 0.5rem 0;
    font-family: Poppins-Medium;
    font-size: 0.9rem;
    color: #FFFFFF;
    user-select: none;
}

#banner .banner-title a {
    margin-top: 1.5rem;
    border: 1px solid #FFFFFF;
    display: inline-block;
    text-decoration: none;
    font-family: Poppins-Bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0.3rem 1.2rem;
    background-color: transparent;
}

#main #introduce {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4rem 0;
}

#introduce .center-t {
    width: 30rem;
}

#introduce .font-Poppins-Bold h1 {
    color: #D89040;
    font-size: 2.5rem;
}

.font-Poppins-Bold {
    font-family: Poppins-Bold;
}

.font-DroidSerif-Italic {
    font-family: DroidSerif-Italic;
    font-size: 1rem;
}

#introduce #introduceText {
    color: #7B7B7B;
    display: inline-block;
    padding: 0.5rem 0;
}

#introduce .center-t .line, .cu-title .line, #main .about-i-center .introduce-left .line {
    background-color: #EE4035;
    width: 50%;
    height: 6px;
    margin: 1rem 0;
}

#main .about-i-center .introduce-left .line {
    width: 90%;
}

.cu-title .line {
    width: 80%;
}

#main #publicity {
    padding: 2.5rem 0;
}

#main #publicity .info-center {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#main #publicity .info-center .info-item {
    width: 14rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main #publicity .info-center .info-item .font-info {
    font-size: 1.1rem;
    color: #EFEFEF;
    text-align: center;
    padding: 1rem 0;
}

.font-DroidSerif-Regular {
    font-family: DroidSerif-Regular;
}

#main #publicity .info-center .info-item .font-content {
    font-size: 0.7rem;
    color: #EFEFEF;
    text-align: center;
    text-overflow: ellipsis;
    line-height: 1rem;
}

#details .d-title {
    padding: 2rem 0 1rem;
    font-size: 1.5rem;
    color: #303030;
    text-align: center;
}

#details .line {
    background: #EE4035;
    height: 6px;
    width: 25%;
    margin: 0 auto;
}

#details .d-content {
    width: 60%;
    margin: 0 auto;
    font-size: 0.7rem;
    color: #7B7B7B;
    letter-spacing: 0.61px;
    text-align: center;
    line-height: 2rem;
    padding: 1.5rem;
}

.slick img {
    width: 50rem;
    height: 60rem;
}

#picture {
    position: relative;
    height: 25rem;
    margin: 1rem 0;
    line-height: 25rem;
}

#picture .p-bg {
    width: 50%;
    height: 20rem;
    margin-bottom: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFA53A;
}

#foot {
    background: #303030;
    width: 100%;
    height: 7rem;
}

#foot .f-center {
    width: 70%;
    margin: 0 auto;
    line-height: 4rem;
    height: 100%;
}

#foot .f-center .f-logo {
    width: 4rem;
    height: 2rem;
}

#foot .f-center .f-content {
    font-family: 'Poppins-SemiBold';
    font-size: 0.6rem;
    padding: 0.5rem 0;
    color: #ffffff;
}

#main .page4 {
    display: flex;
    justify-content: center;
    align-content: center;
}

#main .page4-center {
    width: 40rem;
    padding: 2rem;
}

.page4-center h2 {
    font-size: 6rem;
    color: #303030;
    letter-spacing: 4.22px;
    text-align: center;
    line-height: 10rem;
}

.page4-center h4 {
    font-size: 2rem;
    color: #303030;
    text-align: center;
}

.page4-center div {
    text-align: center;
}

#main #ce-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#main #ce-body .ce-center {
    width: 50%;
}

.ce-center {
    padding: 5rem 0;
}

.ce-center .img-item {
    top: 0;
}

.ce-center .img-item:nth-child(1) {
    left: 0;
    float: left;
    width: 45%;
}

.ce-center .img-item:nth-child(2) {
    right: 0;
    float: right;
    width: 45%;
}

.ce-center .ce-content .line, #main .about-info .about-center .line {
    width: 50%;
    height: 6px;
    background: #FFA53A;
    margin: 1rem 0;
}

#main .about-info .about-center .line {
    margin: 1rem 0;
    height: 3px;
}

.ce-center .ce-content .title {
    font-size: 2rem;
    color: #303030;
}

.ce-center .ce-content .content {
    font-size: 0.8rem;
    color: #7B7B7B;
    letter-spacing: 0.61px;
    line-height: 1.6rem;
}

#main .page-s {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
}

.page-s .s-center {
    background: url("/image/0002.png");
    width: 65%;
    height: 25rem;
    line-height: 25rem;
    text-align: center;
}

.page-s .s-center img {
    width: 50%;
    height: 50%;
}

.cu-content {
    width: 65%;
    margin: 0 auto;
    padding: 0 0 1rem;
    position: relative;
}

.cu-content .cu-title {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

.cu-content .cu-title .title {
    font-size: 1.5rem;
    color: #303030;
    line-height: 3rem;
}

.cu-center .cu-img {
    width: 65%;
    margin: 2rem auto;
}

.cu-content .cu-info .cu-item {
    margin: 0.5rem 0;
}

.cu-content .cu-info .cu-item .cu-rows {
    font-size: 1rem;
    padding: 0.5rem 0;
    color: #7B7B7B;
    letter-spacing: 0.5px;
    text-align: left;
    line-height: 1.6rem;
}

#main .success {
    height: 45rem;
    background-size: auto 45rem;
    background: url("/image/banner33354.png") no-repeat bottom center;
}

#main .contact {
    height: 55rem;
    background-size: auto 55rem;
    background: url("/image/banner323.png") no-repeat bottom center;
}

#main .about-info {
    display: flex;
    justify-content: center;
    align-content: center;
}

#main .about-info .about-center {
    width: 60%;
    margin: 5rem 0;
}

#main .about-info .about-center .title {
    font-size: 1rem;
    color: #303030;
}

#main .about-info .about-center .content {
    font-size: 0.8rem;
    color: #B0B0B0;
    letter-spacing: 0.62px;
    text-align: left;
    line-height: 1rem;
}

#main .about-person {
    background: url("/image/banner33.png") no-repeat center center;
    background-size: cover;
    padding: 1rem 0;
}

#main .about-introduce {
    display: flex;
    justify-content: center;
    align-content: center;

}

#main .about-i-center {
    width: 70%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 4rem 0;
}

#main .about-i-center .introduce-left {
    width: 45%;
}

#main .about-i-center .introduce-reight {
    width: 50%;
}

#main .about-i-center .introduce-left .title {
    font-size: 2.4rem;
    color: #303030;
    letter-spacing: 3px;
    line-height: 3rem;
}

#main .about-i-center .introduce-left .content {
    font-size: 0.8rem;
    color: #7B7B7B;
    letter-spacing: 0.5px;
    text-align: left;
    line-height: 1.6rem;
}

#main .about-i-center .introduce-reight {
    font-size: 0.8rem;
    color: #303030;
    letter-spacing: 0;
    text-align: left;
    line-height: 1.6rem;
}

.boss_name {
    font-family: PingFangSC-Semibold;
    font-size: 4.2rem;
    color: #FFFFFF;
    text-align: center;
}

#main .fourPage {
    background: url("/image/banner33354.png") no-repeat center center;
    background-size: 100%;
}

.list-content {
    font-family: DroidSerif-Regular;
    font-size: 0.7rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
}

#main .itinerary-body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.itinerary-body .itinerary-center {
    width: 50%;
}

.grid .i-rows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0.5rem 0;
    background: #fafafa;
}

.grid .i-rows .i-cols {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid .i-rows .i-cols .content {
    width: 60%;
    letter-spacing: 0.6px;
}

.info-boder {
    border: transparent 1px solid;
}

.info-boder:hover {
    border: #FFFFFF 1px solid;
}

/* s-初始化公共样式 */
body, html {font-size: 10px;user-select: none; margin: 0; padding: 0; }
ul, ol { padding: 0; margin: 0; }
li { list-style-type: none; padding: 0; margin: 0; }
.nav_item a { background: transparent; text-decoration: none; padding: 0; margin: 0; color: #666666; }
h1, h2, h3, h4, h5, h6, dt, dd, dl { margin: 0; padding: 0; font-weight: normal; }
em, i { font-style: normal; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix { display: block; }
.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }
/* e-初始化公共样式 */
/* e-初始化公共样式 */

/* s-nav */
/*.nav { width: 1200px; height: 50px; margin: 0 auto; }*/
.nav_item { float: right; position: relative; }
.nav_item > a { display: block; padding: 0 15px; line-height: 50px; color: #fff; -webkit-transition: all .4s; transition: all .4s; font-family: Poppins-Medium;  border: solid 2px transparent;font-size: 0.6rem;}

.menu_open { display: none; }

@media screen and (min-width:1001px) {
    .nav_item.active > a { color: #00a2e7;border: solid 2px #ffffff; }
    .nav_item:hover > a { color: #00a2e7;border: solid 2px #ffffff; }
}

.nav_item_open { min-width: 110px; height: auto; position: absolute; left: 0; top: 100%; z-index: 10; box-shadow: 0 4px 15px 0 rgba(0, 12, 49, 0.5); background: #fff; border-radius: 4px; opacity: 0; visibility: hidden; -webkit-transform: translateY(34px); transform: translateY(34px); -webkit-transition: all .4s; transition: all .4s; overflow: hidden; }
.nav_item:hover .nav_item_open { visibility: visible; opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
.subopen { display: none; }
.nav_item2 { width: 100%; line-height: 40px; }
.nav_item2 a { display: block; padding: 0 20px; font-size: 14px; white-space: nowrap; text-align: left; }
.nav_item2:hover a { background: #00a2e7; color: #fff; text-decoration: none;}
.hcover { display: none; }

@media screen and (max-width:1279px) {
    .nav_item > a { font-size: 15px; }
}

@media screen and (max-width:1023px) {
    .nav_item > a { font-size: 14px; }
}

@media screen and (max-width:1000px) {
    .menu_open { display: block; float: right; width: 24px; height: 20px; margin-top: 20px; margin-right: 80%; }
    .menu_open i { height: 2px; width: 100%; background: #FFFFFF; display: block; margin-bottom: 7px; }
    .nav { width: 50%; height: 100%; position: fixed; top: 0;right: -50%; z-index: 100; overflow: hidden; background: #333; color: rgba(255, 255, 255, .6); }
    .hcover { display: block;  width: 50%;  height: 100%;  background: rgba(0, 0, 0, .6);  position: fixed;  left: -50%;  top: 0;  z-index: 101; }
    .nav_ul { margin: 0; width: 100%; height: 100%; position: absolute; top: 0;right: 0; overflow-x: hidden; overflow-y: auto; padding-top: 20px; text-align: left; }
    .nav_item { float: none; margin: 0; width: 100%;}
    .nav_item:after { content: ''; display: block; width: 100%; border-bottom: 1px solid rgba(0, 0, 0, .15); margin-left: 20px; }
    .nav_item > a { display: block; margin: 0; font-size: 14px; line-height: 1.8; color: inherit; padding: 10px 10px 10px 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-right: 40px; }
    .nav_item i { position: absolute; z-index: 2; top: 0; right: 0; width: 40px; height: 100%; }
    .nav_item i:before { content: ''; display: block; height: 100%; border-left: 1px solid rgba(0, 0, 0, .15); position: absolute; top: 0; left: 0; }
    .nav_item i:after { content: ''; display: block; width: 7px; height: 7px; margin-bottom: -5px; border: 2px solid rgba(255, 255, 255, .3); border-top: 0; border-left: 0; position: absolute; bottom: 50%; right: 18px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
    .nav_item_open { width: 50%; height: 100%; margin: 0; box-shadow: none; background: #333; border-radius: 0; opacity: 1; visibility: visible; -webkit-transform: translateY(0px); transform: translateY(0px); position: fixed; left: -50%; top: 0; }
    .subopen { display: block; }
    .subopen a { display: block; overflow: hidden; margin: 0; padding: 30px 10px 10px 20px; white-space: nowrap; text-overflow: ellipsis; font-size: 14px; color: rgba(255, 255, 255, .3); background: rgba(0, 0, 0, .1); text-indent: 20px; position: relative; }
    .subopen a:before { content: ''; display: block; width: 7px; height: 7px; position: absolute; bottom: 50%; left: 22px; margin-bottom: -15px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); border: 2px solid rgba(255, 255, 255, .3); border-right: 0; border-bottom: 0; }
    .nav_item2 { position: relative; }
    .nav_item2 a { display: block; overflow: hidden; margin: 0; line-height: 1.8; padding: 10px 10px 10px 20px; white-space: nowrap; text-overflow: ellipsis; color: inherit; }
    .nav_item2:after { content: ''; width: 100%; position: absolute; bottom: 0; left: 0; display: block; border-bottom-width: 1px; border-bottom-style: solid; border-bottom: 1px solid rgba(0, 0, 0, .15); margin-left: 20px; }
}

/* e-nav */

@media screen and (min-width: 321px) and (max-width: 375px) {
    html {
        font-size: 11px
    }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
    html {
        font-size: 12px
    }
}

@media screen and (min-width: 415px) and (max-width: 639px) {
    html {
        font-size: 15px
    }
}

@media screen and (min-width: 640px) and (max-width: 719px) {
    html {
        font-size: 20px
    }
}

@media screen and (min-width: 720px) and (max-width: 749px) {
    html {
        font-size: 22.5px
    }
}

@media screen and (min-width: 750px) and (max-width: 799px) {
    html {
        font-size: 23.5px
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 25px
    }
}