<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 查询所有信息 -->
<mapper namespace="com.gl.website.dao.AboutFirstDAO">

    <select id="getAboutFirstMesg" resultType="com.gl.website.entity.bo.AboutFirstBO">
        select *  from gl_about_first WHERE id=1
    </select>
    <!--修改信息-->
    <update id="updateAboutFirst" parameterType="com.gl.website.entity.bo.AboutFirstBO">
        UPDATE gl_about_first
        <set>
            <if test="createTime!=null and createTime!=''">
                `create_time`=#{createTime} ,
            </if>
            <if test="updateTime!=null and updateTime!=''">
                update_time=#{updateTime},
            </if>
            <if test="image!=null">
                image=#{image},
            </if>
            <if test="url!=null">
                `url`=#{url} ,
            </if>
            <if test="createUser!=null">
                `create_user`=#{createUser},
            </if>
            <if test="updateUser!=null">
                `update_user`=#{updateUser},
            </if>
            <if test="title!=null">
                `title`=#{title},
            </if>
            <if test="content!=null">
                `content`=#{content} ,
            </if>
            <if test="subtitle!=null">
                `subtitle`=#{subtitle} ,
            </if>
            <if test="pictureSort!=null">
                `picture_sort`=#{pictureSort} ,
            </if>
            <if test="introduce!=null">
                `introduce`=#{introduce} ,
            </if>
            <if test="source!=null">
                 `source`=#{source}
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <!--删除信息-->
    <delete id="deleteAboutFirst" parameterType="com.gl.website.entity.bo.AboutFirstBO" >
        DELETE FROM gl_about_first WHERE id=#{id}
    </delete>
    <!--增加信息-->
    <insert id="addAboutFirst" parameterType="com.gl.website.entity.bo.AboutFirstBO">
        INSERT INTO gl_about_first(
        image,url,create_time,create_user,update_time,update_user,title,content,subtitle,picture_sort,introduce,source
        )
        VALUES(
        #{image},#{url},#{createTime},#{createUser},#{updateTime},#{updateUser},#{title},
        #{content},#{subtitle},#{pictureSort},#{introduce},#{source}
        )
    </insert>
</mapper>