<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 查询所有信息 -->
<mapper namespace="com.gl.website.dao.HomepageFourDAO">

    <select id="getAllHomepageFourMesgfour" resultType="com.gl.website.entity.bo.HomepageFourBO">
        select *  from gl_homepage_four  WHERE   id=1
    </select>

</mapper>